{{ ansible_managed | comment }}
[Unit]
Description=Freifunk Chemnitz GRE tunnel watchdog
After=systemd-networkd.service
Wants=systemd-networkd.service

[Service]
Type=oneshot
ExecStart={{ gre_watchdog_script_path }}
